html {
  height: 100%;
  font: 400 1em "Josefin Sans", sans-serif;
}

body {
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  height: inherit;
}

main {
  text-align: center;
}

h1 {
  margin: 0;
  font: 400 12vw "Amatic SC", cursive;
}

a {
  padding: 1em;
  color: inherit;
  text-decoration: none;
}
